<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Channel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./script.js"></script>
</head>
<body>
        <div class="container-fluid">
        <h2>Weather Today</h2>
        <p>This is simple AJAX example</p>
        <div class="row">
            <div class="col-3">
                <p>Temperature:</p>
                <p id="temperature">temp</p>
            </div>
            <div class="col-3">
                <p>Wind:</p>
                <p id="wind">temp</p>
            </div>
            <div class="col-3">
                <p>Humidity</p>
                <p id="Humidity">temp</p>
            </div>
        </div>
        </div>
</body>
</html>